asgiref==3.11.1
colorama==0.4.6
coverage==7.13.4
Django==6.0.2
gunicorn==25.1.0
iniconfig==2.3.0
mysqlclient==2.2.8
packaging==26.0
pillow==12.1.1
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.12.0
sqlparse==0.5.5
testcase==0.1.0
tzdata==2025.3
unittest3==0.0.0a0
white==0.1.2
whitenoise==6.12.0
