{% extends 'base.html' %}

    {% block title %}Parcel Postage Form{% endblock %}
    {% block header %}Welcome to the Parcel Postage Form{% endblock %}

    {% block content %}
     <div class="container-fluid mt-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Parcel</a>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'formLetter' name_id=name_id %}">Letter</a>
            </li>
        </ul>

        <div class="container-fluid mt-4">
            <div class="student-records">
            <h3>Parcel Details</h3>
                <form method="post" class="mt-3">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label" for="{{ form.courier.id_for_label }}">Select Courier</label>
                        {{ form.courier }}
                        {% if form.courier.errors %}
                        <div class="text-danger">{{ form.courier.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="{{ form.parcel_sent.id_for_label }}">Date Sent</label>
                        {{ form.parcel_sent }}
                        {% if form.parcel_sent.errors %}
                        <div class="text-danger">{{ form.parcel_sent.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="{{ form.service.id_for_label }}">Parcel Service</label>
                        {{ form.service }}
                        {% if form.service.errors %}
                        <div class="text-danger">{{ form.service.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="{{ form.weight.id_for_label }}">Parcel Weight</label>
                        {{ form.weight }}
                        {% if form.weight.errors %}
                    <div class="text-danger">{{ form.weight.errors }}</div>
                {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
     </div>
    {% endblock %}