{% extends "base.html" %}

    {% block title %}Customer Postage Record{% endblock %}
    {% block header %}Full Postage Records{% endblock %}

    {% block content %}
    <div class="container-fluid mt-4">
        <div class="student-records">
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
                <h4 class="mb-0">Postage Records</h4>
                    <p>Showing Postage Records For: <strong>{{ customer.first_name }} {{ customer.last_name }}</strong></p>

                          <!--  placed inside of a form due to the POST action buttons -->
                        <form method="post">
                        {% csrf_token %}
                            <div class="d-flex gap-2">
                                <a href="{% url 'delete' customer.identifier %}" class="btn btn-danger">Delete Record</a>
                                <a href="{% url 'customerDetails' %}" class="btn btn-secondary">Customer Details</a>
                            </div>

                            <!-- Table record headings for customer details  -->
                            {% if customer %}
                                <div class="table-responsive">
                                    <table class="table table-striped align-middle">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>House No</th>
                                                <th>House Name</th>
                                                <th>Street</th>
                                                <th>Town</th>
                                                <th>Post Code</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ customer.first_name }}</td>
                                                <td>{{ customer.last_name }}</td>
                                                <td>{{ customer.address.house_no }}</td>
                                                <td>{{ customer.address.house_name }}</td>
                                                <td>{{ customer.address.street }}</td>
                                                <td>{{ customer.address.town }}</td>
                                                <td>{{ customer.address.post_code }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                {% else %}
                                    <p class="text-muted mb-0">No details found for this customer</p>
                                {% endif %}
                        </form>


                <div class="container-fluid mt-4">
                    <div class="student-records">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
                            <h4 class="mb-0">Parcels Records</h4>

                            <!-- Table record headings for parcel records -->
                            {% if parcel_records %}
                                <div class="table-responsive">
                                    <table class="table table-striped align-middle">
                                        <thead>
                                            <tr>
                                                <th>Address No.</th>
                                                <th>Courier</th>
                                                <th>Send Date</th>
                                                <th>Service</th>
                                                <th>Weight</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for parcel in parcel_records %}
                                            <tr>
                                                <td>{{ parcel.address.house_no }}</td>
                                                <td>{{ parcel.courier }}</td>
                                                <td>{{ parcel.parcel_sent }}</td>
                                                <td>{{ parcel.service }}</td>
                                                <td>{{ parcel.weight }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="text-muted mb-0">No parcel records found for this customer</p>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="container-fluid mt-4">
                    <div class="student-records">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
                            <h4 class="mb-0">Letter Records</h4>

                            <!-- Table record headings for letter records  -->
                            {% if letter_records %}
                                <div class="table-responsive">
                                    <table class="table table-striped align-middle">
                                        <thead>
                                            <tr>
                                                <th>Address No.</th>
                                                <th>Send Date</th>
                                                <th>Postage Class</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for letter in letter_records %}
                                            <tr>
                                                <td>{{ letter.address.house_no }}</td>
                                                <td>{{ letter.letter_sent }}</td>
                                                <td>{{ letter.class_field }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="text-muted mb-0">No letter records found for this customer</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    {% endblock %}