{% extends 'base.html' %}

    {% block title %}Home Page{% endblock %}
    {% block header %}{% endblock %}

    {% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="login-container">
            <div class="align-items-center gap-2 mb-3">

                <h4 class="login-title">Welcome To The Local Post Office: </h4>
                <h4 class="login-title"> - {{ user.username }} - </h4>
                <h4 class="login-title">What would you like to do today? </h4>

            </div>
        </div>
    </div>

    {% endblock %}